* {
    font-size: 30px;
    color: #CDF5CD;
}
.ghost {
    color: purple;
}
.poison {
    color: rgb(205, 96, 255);
}
.grass {
    color: green;
}
.dark {
    color: pink;
}
.electric {
    color: yellow;
}