* {
    font-size: 26px;
    font-weight: bold;
}
.ghost {
    color: purple;
}
.poison {
    color: rgb(205, 96, 255);
}
.grass {
    color: green;
}
.dark {
    color: #565857;
}
.electric {
    color: yellow;
}
.ground {
    color: #E1CE7A;
}
.psychic {
    color: #E899DC;
}

.multiplier {
    font-size: 20px;
}