.pkmn-result {
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    font-size: 22px;
    margin-bottom: 50px;
    background-color: #DCEDFF;
}
ul {
    list-style-type: none;
}

.pkmn-card {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: solid 1px black;
    width: 100%;
}
#stats-list, #weak-list {
    border-bottom: solid 1px black;
    margin-top: 25px;
}

#stats-list li {
    color: #505A5B;
}
#weak-list h2 {
    
}
@media (min-width: 1000px) {
    .pkmn-result {
        width: 1000px;
    }
}
.ghost {
    color: #593F62;
}
.poison {
    color: rgb(205, 96, 255);
}
.grass {
    color: green;
}
.water {
    color: blue;
}
.ground {
    color: #F4D35E;
}
.electric {
    color: yellow;
}
.dark {
    color: pink;
}
.electric-bg {
    background-color: #F4D35E !important;
}
.grass-bg {
    background-color: #549354 !important;
}